h1{
    text-align: center;
}

.rojo{
    /*background-color: firebrick;*/
    border: 1px solid firebrick;
}
.rosa{
    /*background-color: hotpink;*/
    border: 15px dashed rgb(255,205,180);
}

.amarillo{
/*background-color: gold;*/
    border: 10px double #ffd700;
}

/*.naranja{
    background-color: darkorange;
}*/

/*.violeta{
    background-color: blueviolet;
}

.verde{
    background-color: lime;
}*/

.azul{
    /*background-color: turquoise;*/
    border: 10px dotted hsl(174, 72%, 56%);
}
/*.rojo, .rosa, .violeta{
    color: white;
}*/

.punteado{
    border-style: dotted;
    /*Ancho de borde arriba derecha abajo izquierda*/
    border-width: 10px 5px 3px 2px;
}

.discontinuo{
    border-style: dashed;
    /*border-width: thin; delgado
    border-width: medium; medio
    border-width: thick; ancho*/
    border-width: medium;
}
.solido{
    border:3px solid red;
    /*Borde arriba derecho e izquierdo y abajo*/
    border-width: 10px 5px 2px;
}
.doble{
    border-color: blueviolet;
    border-style: double;
    /*Borde arriba y abajo, derecha e izquierda*/
    border-width: 10px 5px;
}
.surco{
    border:30px groove;
    /*border-width:10px;
    border-style:groove;*/
}
.cresta{
    border:30px ridge;
}
.recuadro{
    border:20px inset;
}
.outset{
    border:20px outset;
}
.no{
    border: none;
}
.oculto{
    border:hidden;
}
.mixto{
    border-style: dotted solid dashed double;
    border-width: 5px;
}



