/*Selector universal*/
/**{
    background-color: yellow;
}*/

/*Selector h1*/
/*h1 {
  color: blue;
  font-size: 50px;
}*/

/*Selector id*/
/*#titulo {
  color: cadetblue;
  text-align: center;
}*/

/*Selector centrar*/
/*.centrar{
    text-align: center;
}
.texto_grande{
    font-size: 20px;
}*/

/*agrupación de selectores*/
/*h1,h2,p{
    color: chocolate;
    text-align: center;
}*/

p.centrar{
    text-align: center;
}
